/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #089146;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Ajout de padding pour espacement des côtés */
}

header {
  display: flex;
  background-color: #333;
  color: #fff;
  
  justify-content: space-between; /* Alignement du contenu */
  align-items: center; /* Alignement du contenu */
}

.logo {
  font-size: 2.5rem; /* Ajustement de la taille de police */
}

.form {
  background-color: #3f08a6;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px; /* Limitation de la largeur du formulaire */
}

.form input,
.form button {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 40px; /* Ajustement de la hauteur des champs */
  border-radius: 20px; /* Arrondi des coins */
  padding: 10px;
  border: 1px solid #ccc; /* Ajout d'une bordure */
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

  .btn {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}

.searchBox {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #333;
  border-radius: 25px;
  padding: 0 10px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 16px;
  flex: 1; /* Pour remplir l'espace restant */
  padding-left: 20px;
}

.searchButton {
  color: white;
  position: absolute;
  right: 7%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

section {
  margin: 10px 0;
  background-color: #5e1e1e;
  padding: 10px;
  border-radius: 10px;
  width: 35%;
  position: relative;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
