/* Réinitialisation des styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    background-color: #232323;
}

.register {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 75vh; /* Hauteur à 75% de la hauteur de la vue */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c2c2c;
    color: #fff;
    border-radius: 17px;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px; /* Déplacement du padding ici */
    animation: bounce 1.6s; /* Ajout de l'animation ici */
}


/* Ajout de styles pour les colonnes */
.column-container {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les colonnes */
    align-items: center; /* Centrer verticalement */
    
}

.column1, .column2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer les éléments verticalement */
    margin-right: 20px; /* Ajout de la marge */
    text-align: center; /* Centrer le texte horizontalement */
    animation: bounce 1.6s; /* Animation pour les colonnes */
}


/* Styles pour les éléments de formulaire */
.register input[type="text"],
.register input[type="password"],
.register input[type="tel"],
.register input[type="email"] {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: calc(100% - 36px); /* Compensation de la largeur du padding */
    padding: 13px 18px;
    margin: 10px auto; /* Centrage horizontal */
    font-size: 0.8em;
    border-radius: 100px;
    background: #3c3c3c;
    color: #fff;
}

.register input[type="text"]:focus,
.register input[type="password"]:focus,
.register input[type="tel"]:focus,
.register input[type="email"]:focus {
    -webkit-appearance: none;
}

.message {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 20px; /* Ajustez la marge selon vos besoins */
    color: #c31111;
    font-size: 1.3em;
    animation: bounce 1.6s;

}




.register input[type="submit"],
.register input[type="button"] {
    border: 0;
    outline: 0;
    width: 50%; /* Définition de la largeur à 50% */
    padding: 13px;
    margin: 40px auto 0; /* Utilisation de `auto` pour la marge gauche et droite, et 0 pour la marge supérieure */
    border-radius: 500px;
    font-weight: 600;
    display: block; /* Ajout de cette propriété pour centrer les boutons */
}

.h1 {
    padding: 0;
    position: relative;
    top: -35px;
    display: block;
    margin-bottom: -0px;
    font-size: 1.3em;
    animation: bounce 1.6s; /* Animation pour les titres de colonne */
}

.btn {
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: #fff;
    padding: 16px !important;
}

.btn:hover {
    background: linear-gradient(144deg, #1e1e1e , 20%,#1e1e1e 50%,#1e1e1e );
    color: rgb(255, 255, 255);
    padding: 16px !important;
    cursor: pointer;
    transition: all 0.4s ease;
}

.ui {
    font-weight: bolder;
    background: -webkit-linear-gradient(#B563FF, #535EFC, #0EC8EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(0.25turn, #535EFC, #0EC8EE, #0EC8EE);
    border-image-slice: 1;
    display: inline;
}

/* Styles pour les petits écrans */
@media only screen and (max-width: 600px) {
    .register {
        width: 90%;
        max-width: none;
        padding: 3em;
        flex-direction: column;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }
}
